@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --dark-text: rgb(45, 54, 55);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--dark-text);
  margin-bottom: 1rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(127, 148, 150);
  padding: 2rem;
}

button {
  background-color: #ddd;
  padding: 0.2em 0.4em;
  border: solid black 1px;
  border-radius: 0.2em;
}
button:hover {
  filter: brightness(0.95);
}

.add-btn {
  background-color: #fff;
  margin-bottom: 1rem;
}

.stopwatch {
  display: inline-block;
  text-align: left;
  background-color: #eee;
  border: solid black 1px;
  border-radius: 0.3em;
  margin: 0.2em;
}

.stopwatch > .delete-btn {
  background-color: inherit;
  border: none;
  display: block;
  margin-left: auto;
}

.stopwatch > .content {
  padding: 0 0.6em 0.6em 0.6em;
}

hr {
  border: none;
  border-bottom: solid 1px var(--dark-text);
  margin-top: 1rem;
}

.github-link {
  color: var(--dark-text);
  font-size: 0.8rem;
  text-decoration: none;
}
.github-link:hover {
  text-decoration: underline;
}
