@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --dark-text: rgb(38, 44, 46);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
  background-color: rgb(127, 148, 150);
  padding: 2rem;
}

/* BUTTON AND INPUT >>>>>>>>>>>>>>>>>>>>>>>>>>>> */
button,
input {
  padding: 0.2em 0.4em;
  border: solid black 1px;
  border-radius: 0.2em;
}
button:hover {
  filter: brightness(0.95);
}
input {
  letter-spacing: 0.03em;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<< BUTTON AND INPUT */

h1 {
  color: var(--dark-text);
  margin-bottom: 1rem;
}

/* ---------------------------------------------------------- 
                >>>   .ADD-STOPWATCH-FORM  
 ---------------------------------------------------------- */
.add-stopwatch-form {
  display: inline-block;
  margin-bottom: 1rem;
}
/* BUTTONS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.add-stopwatch-form .buttons {
  display: flex;
}

.add-stopwatch-form .buttons button {
  background-color: #fff;
  padding: 0.5em;
  z-index: 1;
}

/* SEAMLESSLY CONNECT TWO BUTTONS >>> */
.add-stopwatch-form .buttons .add-btn {
  border-right-color: gray;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.add-stopwatch-form .buttons .expand-btn {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* <<< */

.add-stopwatch-form .expand-btn .bi-three-dots {
  display: none;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< BUTTONS */
/* FORM-CONTROLS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.add-stopwatch-form .form-controls {
  background-color: rgb(180, 199, 197);
  padding: 30px 0.6em 0.6em 0.6em;
  margin: -15px 0 0 20px;
  border-radius: 0.2em;
}
.add-stopwatch-form .form-controls .input-pair {
  font-size: 13px;
  margin-bottom: 4px;
}
.add-stopwatch-form .form-controls .name-input {
  font-size: 0.9em;
  text-align: center;
  color: white;
  background-color: rgb(120, 145, 142);
  border: none;
  margin-bottom: 0.5em;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<< FORM-CONTROLS */
/* HIDE TARGETS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* (When a parent has a class of '.hide-targets', 
any child with '.target' will not be displayed.  
'.hide-targets' is toggled via javascript to 
hide/unhide items.) */
.hide-targets .target {
  display: none;
}
.add-stopwatch-form.hide-targets {
  padding: 0;
}
.add-stopwatch-form.hide-targets .bi-three-dots {
  display: inline-block;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HIDE TARGETS */
/* ---------------------------------------------------------- 
                  .ADD-STOPWATCH-FORM  <<<
 ---------------------------------------------------------- */
/* ---------------------------------------------------------- 
                    >>>    .STOPWATCH
 ---------------------------------------------------------- */
.stopwatch {
  display: inline-block;
  text-align: left;
  background-color: #eee;
  border: solid black 1px;
  border-radius: 0.3em;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 0.2em;
}

.stopwatch > .top-row {
  display: flex;
  background-color: rgb(83, 99, 100);
}

.stopwatch > .top-row > .name-input {
  color: white;
  font-size: 0.9em;
  text-align: center;
  background-color: inherit;
  border: none;
}

.stopwatch > .top-row > .delete-btn {
  color: white;
  background-color: inherit;
  border: none;
  display: block;
  margin-left: auto;
}
.stopwatch > .top-row > .delete-btn:hover {
  color: black;
  background-color: white;
}

.stopwatch > .content {
  padding: 0.3em 0.6em 0.6em 0.6em;
}

.stopwatch button {
  background-color: #ddd;
}
/* ---------------------------------------------------------- 
                        .STOPWATCH <<<
 ---------------------------------------------------------- */

hr {
  border: none;
  border-bottom: solid 1px var(--dark-text);
  margin-top: 1rem;
}

.github-link {
  color: var(--dark-text);
  font-size: 0.8rem;
  text-decoration: none;
}
.github-link:hover {
  text-decoration: underline;
}
