@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
  background-color: #7f9496;
  padding: 2rem;
}

/* BUTTON AND INPUT >>>>>>>>>>>>>>>>>>>>>>>>>>>> */
button,
input {
  padding: 0.2em 0.4em;
  border: solid black 1px;
  border-radius: 0.2em;
}

button:hover {
  filter: brightness(0.9);
}

input {
  letter-spacing: 0.03em;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<< BUTTON AND INPUT */
h1 {
  color: #262c2e;
  margin-bottom: 1rem;
}

/* ---------------------------------------------------------- 
                >>>   .ADD-STOPWATCH-FORM  
 ---------------------------------------------------------- */
.add-stopwatch-form {
  display: inline-block;
  margin-bottom: 1rem;
}
.add-stopwatch-form .buttons {
  display: flex;
  /* SEAMLESSLY CONNECT TWO BUTTONS >>> */
  /* <<< SEAMLESSLY CONNECT TWO BUTTONS */
}
.add-stopwatch-form .buttons .add-btn,
.add-stopwatch-form .buttons .expand-btn {
  background-color: #fff;
  padding: 0.3em;
  z-index: 1;
}
.add-stopwatch-form .buttons .add-btn {
  font-size: 2rem;
}
.add-stopwatch-form .buttons .add-btn .is {
  display: flex;
}
.add-stopwatch-form .buttons .add-btn .is :first-child {
  margin-right: -0.12em;
}
.add-stopwatch-form .buttons .expand-btn .bi-three-dots {
  display: none;
}
.add-stopwatch-form .buttons .add-btn {
  border-right-color: gray;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.add-stopwatch-form .buttons .expand-btn {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.add-stopwatch-form .form-controls {
  background-color: #b4c7c5;
  padding: 45px 0.6em 0.6em 0.6em;
  margin: -30px 0 0 20px;
  border-radius: 0.2em;
}
.add-stopwatch-form .form-controls .input-pair {
  font-size: 13px;
  margin-bottom: 4px;
}
.add-stopwatch-form .form-controls .name-input {
  font-size: 0.9em;
  text-align: center;
  color: white;
  background-color: #78918e;
  border: none;
  margin-bottom: 0.5em;
}
.add-stopwatch-form.hide-targets {
  padding: 0;
}
.add-stopwatch-form.hide-targets .bi-three-dots {
  display: inline-block !important;
}

/* ---------------------------------------------------------- 
                  .ADD-STOPWATCH-FORM  <<<
 ---------------------------------------------------------- */
/* ---------------------------------------------------------- 
                    >>>    .STOPWATCH
 ---------------------------------------------------------- */
.stopwatch {
  width: 200px;
  display: inline-block;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid black 1px;
  border-radius: 0.3em;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 0.2em;
}
.stopwatch button {
  background-color: #ddd;
}
.stopwatch .top-row {
  display: flex;
  background-color: #536364;
}
.stopwatch .top-row .name-input {
  color: white;
  font-size: 0.9em;
  text-align: center;
  background-color: inherit;
  border: none;
}
.stopwatch .top-row .delete-btn {
  color: white;
  background-color: inherit;
  border: none;
  display: block;
  margin-left: auto;
}
.stopwatch .top-row .delete-btn:hover {
  color: black;
  background-color: white;
}
.stopwatch .content {
  padding: 0.3em 0.6em 0.6em 0.6em;
}
.stopwatch .content .elapsed-time {
  margin: auto 0.5em;
}
.stopwatch.playing {
  background-color: #eee;
}
.stopwatch.playing .bi-play-fill {
  display: none;
}
.stopwatch.playing .bi-pause-fill {
  display: inline-block;
}

/* ---------------------------------------------------------- 
                        .STOPWATCH <<<
 ---------------------------------------------------------- */
hr {
  border: none;
  border-bottom: solid 1px #262c2e;
  margin-top: 1rem;
}

.github-link {
  color: #262c2e;
  font-size: 0.8rem;
  text-decoration: none;
}
.github-link:hover {
  text-decoration: underline;
}

/* UTILITY */
.display-none {
  display: none;
}

.hide-targets .target {
  display: none;
}

/*# sourceMappingURL=style.css.map */
